{% extends "layout.html" %}

{% block title %}Conjugar{% endblock %}


{% macro conjugation_table(verbs) %}
<div class="bg-light p-3">

    <table class="table ">
        <thead>

            <tr>
                <th scope="col"></th>
                {% for verb in verbs %}
                <th scope="col">{{verb.tense}}</th>
                {% endfor %}

            </tr>
        </thead>
        <tbody>
            {% for i_person in range(pronouns|count) %}
            <tr>
                <th scope="row">{{pronouns[i_person]}}</th>
                {% for verb in verbs %}
                <td>{{ verb.forms[i_person] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}


{% block content %}
<div class="">
    <!--BASE-->
    <div class="container bg-light p-3">
        <div class="row">

            <div class="display-3 col ">{{infinitive}}</div>
            <div class="col ">
                <div><b>gerundio:</b> {{gerund}}</div>
                <div><b>participio:</b> {{pastparticiple}}</div>
            </div>
        </div>
        <div class="fst-italic text-center mt-3">{{english_meaning}}</div>
    </div>

    <!--BUTTONS-->
    <div class="row justify-content-center">
        <div class="btn-group col-md-6 col-sm-12 mt-4 container">
            <input type="radio" class="btn-check" name="mood" id="imperative" autocomplete="off" disabled />
            <label class="btn btn-bg-dark btn-outline-light col-4" for="imperative">Imperativo</label>

            <input type="radio" class="btn-check" name="mood" id="indicative" autocomplete="off" checked />
            <label class="btn btn-bg-dark btn-outline-light mx-1 col-4" for="indicative">Indicativo</label>

            <input type="radio" class="btn-check" name="mood" id="subjunctive" autocomplete="off" disabled />
            <label class="btn btn-bg-dark btn-outline-light col-4" for="subjunctive">Subjunctivo</label>
        </div>

        <div class="btn-group col-md-6 col-sm-12 mt-4 container">
            <input type="radio" class="btn-check" name="tense" id="past" autocomplete="off" disabled />
            <label class="btn btn-outline-light col-4" for="past">Pasado</label>

            <input type="radio" class="btn-check" name="tense" id="present" autocomplete="off" checked />
            <label class="btn btn-outline-light col-4 mx-1" for="present">Presente</label>

            <input type="radio" class="btn-check" name="tense" id="future" autocomplete="off" disabled />
            <label class="btn btn-outline-light col-4" for="future">Futuro</label>
        </div>
    </div>

    <!--TABLE-->
    {{ conjugation_table(indicative_present) }}
</div>

{% endblock %}
