{% extends "layout.html" %}

{% block title %}Conjugar{% endblock %}


{% macro conjugation_table(verbs) %}
<div class="bg-light p-3 table-responsive">

    <table class="table text-nowrap">
        <thead>

            <tr>
                <th scope="col"></th>
                {% for verb in verbs %}
                <th scope="col">{{verb.tense}}</th>
                {% endfor %}

            </tr>
        </thead>
        <tbody>
            {% for i_person in range(pronouns|count) %}
            <tr>
                <th scope="row">{{pronouns[i_person]}}</th>
                {% for verb in verbs %}
                <td>{{ verb.forms[i_person] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro conjugation_table_moods(verbs) %}
<div class="bg-light p-3 table-responsive">

    <table class="table text-nowrap">
        <thead>

            <tr>
                <th scope="col"></th>
                {% for verb in verbs %}
                <th scope="col">{{verb.mood}}</th>
                {% endfor %}

            </tr>
        </thead>
        <tbody>
            {% for i_person in range(pronouns|count) %}
            <tr>
                <th scope="row">{{pronouns[i_person]}}</th>
                {% for verb in verbs %}
                <td>{{ verb.forms[i_person] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}

{% block content %}
<div class="">
    <!--BASE-->
    <div class="col ">
        <div class="container bg-light p-3">
            <div class="row">

                <div class="display-3 col ">{{infinitive}}</div>
                <div class="col ">
                    <div><b>gerundio:</b> {{gerund}}</div>
                    <div><b>participio:</b> {{pastparticiple}}</div>
                </div>
            </div>
            <div class="fst-italic text-center mt-3">{{english_meaning}}</div>
        </div>
    </div>

    <!--MOOD BUTTONS-->
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12 mt-4 container">
            <!-- <input type="radio" class="btn-check" name="mood" id="imperative" autocomplete="off" disabled />
            <label class="btn btn-bg-dark btn-outline-light col-4" for="imperative">Imperativo</label>

            <input type="radio" class="btn-check" name="mood" id="indicative" autocomplete="off" checked />
            <label class="btn btn-bg-dark btn-outline-light mx-1 col-4" for="indicative">Indicativo</label>

            <input type="radio" class="btn-check" name="mood" id="subjunctive" autocomplete="off" disabled />
            <label class="btn btn-bg-dark btn-outline-light col-4" for="subjunctive">Subjunctivo</label> -->
            <div class="nav" role="tablist">
                <button class="btn btn-outline-light col" role="tab" data-bs-toggle="tab"
                    data-bs-target="#imperative">Imperativo</button>

                <button class="btn btn-outline-light col active" role="tab" data-bs-toggle="tab"
                    data-bs-target="#indicative">Indicativo</button>

                <button class="btn btn-outline-light col" role="tab" data-bs-toggle="tab"
                    data-bs-target="#subjunctive">Subjunctivo</button>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <!--IMPERATIVE-->
        <div id="imperative" class="tab-pane" role="tabpanel">
            <div class="row justify-content-center">
                <div class="col-md-6 col-sm-12 mt-4 container">
                    <div class="nav" role="tablist">
                        <button class="btn btn-outline-light col disabled">Pasado</button>
                        <button class="btn btn-outline-light col active">Presente</button>
                        <button class="btn btn-outline-light col disabled">Futuro</button>
                    </div>
                </div>
            </div>

            {{ conjugation_table_moods(imperative_present) }}
        </div>

        <div id="indicative" class="tab-pane show active" role="tabpanel">
            <!--INDICATIVE BUTTONS-->
            <div class="row justify-content-center">

                <div class="col-md-6 col-sm-12 mt-4 container">
                    <div class="nav" role="tablist">
                        <button class="btn btn-outline-light col" role="tab" data-bs-toggle="tab"
                            data-bs-target="#indicative-past">Pasado</button>

                        <button class="btn btn-outline-light col active" role="tab" data-bs-toggle="tab"
                            data-bs-target="#indicative-present">Presente</button>

                        <button class="btn btn-outline-light col" role="tab" data-bs-toggle="tab"
                            data-bs-target="#indicative-future">Futuro</button>
                    </div>
                </div>
            </div>
            <!--INDICATIVE TABLE-->
            <div class="tab-content" id="indictaive-tab-content">
                <div class="tab-pane" id="indicative-past" role="tabpanel">
                    {{ conjugation_table(indicative_past) }}
                </div>
                <div class="tab-pane show active" id="indicative-present" role="tabpanel">
                    {{ conjugation_table(indicative_present) }}
                </div>
                <div class="tab-pane" id="indicative-future" role="tabpanel">
                    {{ conjugation_table(indicative_future) }}
                </div>
            </div>
        </div>

        <div id="subjunctive" class="tab-pane" role="tabpanel">
            <!--SUBJUNCTIVE BUTTONS-->
            <div class="row justify-content-center">
                <div class="col-md-6 col-sm-12 mt-4 container">
                    <div class="nav" role="tablist">
                        <button class="btn btn-outline-light col" role="tab" data-bs-toggle="tab"
                            data-bs-target="#subjunctive-past">Pasado</button>

                        <button class="btn btn-outline-light col active" role="tab" data-bs-toggle="tab"
                            data-bs-target="#subjunctive-present">Presente</button>

                        <button class="btn btn-outline-light col" role="tab" data-bs-toggle="tab"
                            data-bs-target="#subjunctive-future">Futuro</button>
                    </div>
                </div>
            </div>
            <!--SUBJUNCTIVE TABLE-->
            <div class="tab-content" id="subjunctive-tab-content">
                <div class="tab-pane" id="subjunctive-past" role="tabpanel">
                    {{ conjugation_table(subjunctive_past) }}
                </div>
                <div class="tab-pane show active" id="subjunctive-present" role="tabpanel">
                    {{ conjugation_table(subjunctive_present) }}
                </div>
                <div class="tab-pane" id="subjunctive-future" role="tabpanel">
                    {{ conjugation_table(subjunctive_future) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
