{% extends "layout.html" %}

{% block title %}Conjugar{% endblock %}


{% macro conjugation_table(verbs) %}
<div class="bg-light p-3 table-responsive">

    <table class="table text-nowrap">
        <thead>

            <tr>
                <th scope="col"></th>
                {% for verb in verbs %}
                <th scope="col">{{verb.tense}}</th>
                {% endfor %}

            </tr>
        </thead>
        <tbody>
            {% for i_person in range(pronouns|count) %}
            <tr>
                <th scope="row">{{pronouns[i_person]}}</th>
                {% for verb in verbs %}
                <td>{{ verb.forms[i_person] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}


{% block content %}
<div class="">
    <!--BASE-->
    <div class="col ">
        <div class="container bg-light p-3">
            <div class="row">

                <div class="display-3 col ">{{infinitive}}</div>
                <div class="col ">
                    <div><b>gerundio:</b> {{gerund}}</div>
                    <div><b>participio:</b> {{pastparticiple}}</div>
                </div>
            </div>
            <div class="fst-italic text-center mt-3">{{english_meaning}}</div>
        </div>
    </div>

    <!--BUTTONS-->
    <div class="row justify-content-center">
        <div class="btn-group col-md-6 col-sm-12 mt-4 container">
            <input type="radio" class="btn-check" name="mood" id="imperative" autocomplete="off" disabled />
            <label class="btn btn-bg-dark btn-outline-light col-4" for="imperative">Imperativo</label>

            <input type="radio" class="btn-check" name="mood" id="indicative" autocomplete="off" checked />
            <label class="btn btn-bg-dark btn-outline-light mx-1 col-4" for="indicative">Indicativo</label>

            <input type="radio" class="btn-check" name="mood" id="subjunctive" autocomplete="off" disabled />
            <label class="btn btn-bg-dark btn-outline-light col-4" for="subjunctive">Subjunctivo</label>
        </div>

        <div class="col-md-6 col-sm-12 mt-4 container">
            <div class="nav" role="tablist">
                <button class="btn btn-outline-light col" for="past" role="tab" data-bs-toggle="tab"
                    data-bs-target="#indicative-past">Pasado</button>

                <button class="btn btn-outline-light col active" for="present" role="tab" data-bs-toggle="tab"
                    data-bs-target="#indicative-present">Presente</button>

                <button class="btn btn-outline-light col" for="future" role="tab" data-bs-toggle="tab"
                    data-bs-target="#indicative-future">Futuro</button>
            </div>
        </div>
    </div>

    <!--TABLE-->

    <!-- TABLE INDICATIVE -->
    <div class="tab-content" id="indictaive-tab-content">
        <div class="tab-pane fade" id="indicative-past" role="tabpanel">
            {{ conjugation_table(indicative_past) }}
        </div>
        <div class="tab-pane fade show active" id="indicative-present" role="tabpanel">
            {{ conjugation_table(indicative_present) }}
        </div>
        <div class="tab-pane fade" id="indicative-future" role="tabpanel">
            {{ conjugation_table(indicative_future) }}
        </div>
    </div>

</div>

{% endblock %}
